{{ define "up-favicons" }}
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{{ if .Monitor.Status }}
		<title>UP - {{ .Monitor.Name }}</title>
{{ end }}
{{ end }}

{{ define "warn-favicons" }}
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/warn-apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/warn-favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/warn-favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="shortcut icon" href="/static/img/warn-favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{{ if .Monitor.Status }}
				<title>GRACE_PERIOD - {{ .Monitor.Name }}</title>
{{ end }}
{{ end }}

{{ define "down-favicons" }}
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/down-apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/down-favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/down-favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="shortcut icon" href="/static/img/down-favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{{ if .Monitor.Status }}
				<title>DOWN - {{ .Monitor.Name }}</title>
{{ end }}
{{ end }}

{{ block "base" . }}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Monitor cron jobs">
		<link href="/static/css/tabler.min.css?1692870487" rel="stylesheet"/>

		<link rel="preload" href="/static/css/tabler-flags.min.css?1692870487" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="/static/css/tabler-flags.min.css?1692870487"></noscript>

		<link href="/static/css/tabler-payments.min.css?1692870487" rel="stylesheet"/>
		<link href="/static/css/tabler-vendors.min.css?1692870487" rel="stylesheet"/>
		<script src="https://unpkg.com/htmx.org@2.0.1" defer></script>
		{{ if .Monitor.Status }}
				{{ if eq .Monitor.Status "up" }}
						{{ template "up-favicons" . }}
				{{ else if eq .Monitor.Status "grace_period" }}
						{{ template "warn-favicons" . }}
				{{ else }}
						{{ template "down-favicons" . }}
				{{ end }}
		{{ else }}
				{{ template "up-favicons" . }}
		{{ end }}
</head>
<style>
.alert-container {
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 1050;
		max-width: 300px;
}
.table-enhanced tbody td {
		font-weight: 500;
		font-size: 1rem;
}
.table-enhanced thead th {
		font-weight: 600;
		font-size: 1.05rem;
		text-transform: uppercase;
}
@import url('https://rsms.me/inter/inter.css');
:root {
--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}
body {
font-feature-settings: "cv03", "cv04", "cv11";
}
a {
		cursor: pointer;
}
</style>
<body>
		<script src="/static/js/demo-theme.min.js?1692870487"></script>
		<header class="navbar navbar-expand-md d-print-none" >
				<div class="container-xl">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
						</button>
						<h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
								<a href="/">
										<img src="/static/img/logo.svg" width="110" height="32" alt="outagealert.dev" class="navbar-brand-image">
								</a>
								outagealert
						</h1>
						<div class="navbar-nav flex-row order-md-last">
								<div class="d-none d-md-flex">
										<a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
												data-bs-placement="bottom">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
										</a>
										<a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
												data-bs-placement="bottom">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
										</a>
										<a href="/pricing" class="nav-link" title="">
												Pricing
										</a>
								</div>
								<div id="user" class="nav-item dropdown" hx-trigger="load once" hx-get="/user" hx-swap="innerHTML"></div>
						</div>

				</div>

		</header>
</body>
{{ end }}

{{ block "footer" . }}
<footer class="footer footer-transparent d-print-none">
		<div class="container-xl">
				<div class="row text-center align-items-center flex-row-reverse">
						<div class="col-lg-auto ms-lg-auto">
								<ul class="list-inline list-inline-dots mb-0">
										<li class="list-inline-item"><a href="/faq" class="link-secondary">FAQ</a></li>
										<li class="list-inline-item"><a href="/terms" class="link-secondary">Terms and Conditions</a></li>
										<li class="list-inline-item"><a href="/contact" class="link-secondary">Contact us</a></li>
										<li class="list-inline-item"><a href="/refund" class="link-secondary">Refund policy</a></li>
								</ul>
						</div>
						<div class="col-12 col-lg-auto mt-3 mt-lg-0">
								<ul class="list-inline list-inline-dots mb-0">
										<li class="list-inline-item">
												Copyright &copy; 2024
												<a href="/" class="link-secondary">outagealert</a>.
												All rights reserved.
										</li>
								</ul>
						</div>
				</div>
		</div>
</footer>
{{ end }}
