<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Document</title>
				{{ template "base" }}
		</head>
		<body>
				<div class="page">
						<div class="page-wrapper">
								<div class="page-body">
										<div class="container-xl">

												<h3>Merchant Legal entity name: ARIVAZHAGAN MANOSRIRAM</h3>
												<h3>Registered Address: NAD Roads, Visakhapatnam, Visakhapatnam, Andhra Pradesh, PIN: 530009</h3>
												<h3>Operational Address: NAD Roads, Visakhapatnam, Visakhapatnam, Andhra Pradesh, PIN: 530009</h3>
												<h3>E-Mail ID: contact@manosriram.com</h3>
												<p>Last updated on 02-10-2024</p>
										</div>
								</div>
						</div>
				</div>
				{{ template "footer" }}
		</body>
</html>
