{{ template "errors" . }}

{{ define "simple-modal" }}
<form class="modal modal-blur fade" id="simple-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="modal-body">
								<div class="mb-3">
										<pre style="text-wrap: wrap;">{{ printf "%s" .Metadata }}</pre>
								</div>
						</div>
				</div>
		</div>
</form>
<script>
		document.getElementById('ping-tag').addEventListener('click', function() {
				modalOpen = true;
		});

		document.querySelector("#simple-modal").addEventListener('hidden.bs.modal', function(event) {
				modalOpen = false;
		})
</script>
{{ end }}

{{ define "modal-report" }}
<form class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" hx-swap="beforeend" hx-put="/api/monitor/{{.Monitor.ID}}" hx-target="body" aria-hidden="true">
		<input type="text" name="monitor_id" value={{.Monitor.ID}} hidden>
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title">Update monitor</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
								<div class="mb-3">
										<label class="form-label">Name</label>
										<input type="text" name="name" class="form-control" name="example-text-input" placeholder="Your monitor name" value={{.Monitor.Name}}>
								</div>
								<div class="row">
										<div class="col-lg-8">
												<div class="mb-3" style="margin-bottom: 20px;">
													<label class="form-label">Period</label>
													<div id="period-slider" style="margin-bottom: 10px;"></div>
													<input type="range" class="form-range mb-2" name="period" value="{{.Monitor.Period}}" min="5" max="525600" step="5" oninput="updatePeriodValue(this.value)">
													<input type="text" id="period-input" class="form-control">
													<div class="text-muted">Selected period: <span id="period-value">{{.Monitor.Period}}</span></div>
												</div>
												<div class="mb-3" style="margin-bottom: 20px;">
													<label class="form-label">Grace period</label>
													<div class="input-group input-group-flat">
													<input type="number" name="grace_period" class="form-control ps-0" autocomplete="off" placeholder="Min 5, Max 1440, Default 25 - minutes" value={{.Monitor.GracePeriod}}>
													</div>
												</div>
										</div>
								</div>
						</div>
						<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
										Cancel
								</a>
								<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
										<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
										Update monitor
								</button>
						</div>
				</div>
		</div>
</form>
<script type="module">
		import noUiSlider from '/static/js/nouislider.mjs';

		// Create period slider
		const periodSlider = document.getElementById('period-slider');
		noUiSlider.create(periodSlider, {
				start: "{{.Monitor.Period}}",
				connect: 'lower',
				range: {
						'min': 5,
						'max': 1440 // 24 hours in minutes
				},
				pips: {
						mode: 'values',
						values: [5, 240, 480, 720, 960, 1200, 1440],
						density: 4,
						format: {
								to: function(value) {
										if (value === 5) return '5m';
										return Math.floor(value/60) + 'h';
								}
						}
				}
		});

		// Update hidden input when slider changes
		periodSlider.noUiSlider.on('update', function (values, handle) {
				document.getElementById('period-input').value = Math.round(values[handle]);
		});
</script>
<script>
function formatDuration(minutes) {
    minutes = Math.round(minutes);  // Round to nearest integer
    if (minutes < 60) {
        return `${minutes} minutes`;
    } else if (minutes < 1440) {  // 24 hours
        const hours = Math.floor(minutes / 60);
        return `${hours} ${hours === 1 ? 'hour' : 'hours'}`;
    } else if (minutes < 43200) {  // 30 days
        const days = Math.floor(minutes / 1440);
        return `${days} ${days === 1 ? 'day' : 'days'}`;
    } else if (minutes < 525600) {  // Up to 365 days
        const months = Math.floor(minutes / 43200);
        return `${months * 30} days`;  // Increment by 30 days
    } else {  // Beyond 365 days
        const years = Math.floor(minutes / 525600);
        return `${years} ${years === 1 ? 'year' : 'years'}`;
    }
}

function updatePeriodValue(minutes) {
    const periodValueElement = document.getElementById('period-value');
    const periodInputElement = document.getElementById('period-input');
    const formattedDuration = formatDuration(minutes);
    periodValueElement.textContent = formattedDuration;
    periodInputElement.value = formattedDuration;
}

// Initialize the value on page load
updatePeriodValue({{.Monitor.Period}});
</script>
{{ end }}

{{ define "slack-alert" }}
<form class="modal modal-blur fade" id="slack-alert" tabindex="-1" role="dialog" hx-swap="beforeend" hx-put="/monitor/{{.Monitor.ID}}/integrations" hx-target="body" aria-hidden="true">
		<input type="text" name="alert_type" value="slack" hidden>
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title">Webhook alert integration</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
								<div class="mb-3 row align-items-center">
										<div class="col">
												{{ if .MonitorAlertIntegrations.SlackUser.ChannelID }}
														<div class="slack-details">
														<p>
																Channel <strong>{{ .MonitorAlertIntegrations.SlackUser.ChannelName }}</strong>
														</p>
														<p>Connected <strong>{{ createdAtDistanceWithAgo  .MonitorAlertIntegrations.SlackUser.CreatedAt.Time }}</strong></p>
														</div>
												<a href="#" class="btn btn-danger" hx-delete="/monitor/{{.Monitor.ID}}/disconnect-integration?provider=slack">
														<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plug-connected-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 16l-4 4" /><path d="M7 12l5 5l-1.5 1.5a3.536 3.536 0 1 1 -5 -5l1.5 -1.5z" /><path d="M17 12l-5 -5l1.5 -1.5a3.536 3.536 0 1 1 5 5l-1.5 1.5z" /><path d="M3 21l2.5 -2.5" /><path d="M18.5 5.5l2.5 -2.5" /><path d="M10 11l-2 2" /><path d="M13 14l-2 2" /><path d="M16 16l4 4" /></svg>
														Disconnect
												</a>
												{{ else }}
												<a href="{{ .MonitorAlertIntegrations.SlackAuthUrl }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
												{{ end }}
										</div>
										{{ if .MonitorAlertIntegrations.SlackUser.ChannelID }}
										<div class="col-auto">
												<label class="form-check form-check-single form-switch">
														{{ if .MonitorAlertIntegrations.SlackIntegrationEnabled }}
														<input name="is_active" class="form-check-input" type="checkbox" checked>
														{{ else }}
														<input name="is_active" class="form-check-input" type="checkbox">
														{{ end }}
												</label>
										</div>
										{{ end }}
								</div>
						</div>
						<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
										Cancel
								</a>
								<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
										<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
										Save
								</button>
						</div>
				</div>
		</div>
</form>
{{ end }}


{{ define "webhook-alert" }}
<form class="modal modal-blur fade" id="webhook-alert" tabindex="-1" role="dialog" hx-swap="beforeend" hx-target="body" aria-hidden="true" hx-put="/monitor/{{.Monitor.ID}}/integrations">
		<input type="text" name="alert_type" value="webhook" hidden>
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title">Webhook alert integration</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
								<div class="mb-3 row align-items-center">
										<div class="col">
												<input type="text" name="alert_target" class="form-control" value="{{.MonitorAlertIntegrations.WebhookIntegration.AlertTarget}}">
										</div>
										<div class="col-auto">
												<label class="form-check form-check-single form-switch">
														{{ if .MonitorAlertIntegrations.WebhookIntegrationEnabled }}
														<input name="is_active" class="form-check-input" type="checkbox" checked>
														{{ else }}
														<input name="is_active" class="form-check-input" type="checkbox">
														{{ end }}
												</label>
										</div>
								</div>
						</div>
						<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
										Cancel
								</a>
								<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
										<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
										Save
								</button>
						</div>
				</div>
		</div>
</form>
{{ end }}

{{ define "email-alert" }}
<form class="modal modal-blur fade" id="email-alert" tabindex="-1" role="dialog" hx-swap="beforeend" hx-target="body" aria-hidden="true" hx-put="/monitor/{{.Monitor.ID}}/integrations">
		<input type="text" name="alert_type" value="email" hidden>
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title">Email alert integration</h5>

								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
								<div class="mb-3 row align-items-center">
										<div class="col">
												<input type="email" name="email" class="form-control" value="{{.Monitor.UserEmail}}" disabled>
										</div>
										<div class="col-auto">
												<label class="form-check form-check-single form-switch">
														{{ if .MonitorAlertIntegrations.EmailIntegrationEnabled }}
														<input name="is_active" class="form-check-input" type="checkbox" checked>
														{{ else }}
														<input name="is_active" class="form-check-input" type="checkbox">
														{{ end }}
												</label>
										</div>
								</div>
						</div>
						<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
										Cancel
								</a>
								<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
										<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
										Save
								</button>
						</div>
				</div>
		</div>
</form>
{{ end }}
