{{ define "modal-ping" }}
<div class="modal modal-blur fade" id="modal-simple" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title">
										{{ if eq .Status 200 }}
										{{ .Status }} OK
										{{ else }}
										{{ .Status }} NOTOK
										{{ end }}
								</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
								<pre style="text-wrap: wrap;"><code>{{ printf "%s" .Metadata }}</code></pre>
								<div class="text-secondary">{{ createdAtDistanceWithAgo .CreatedAt }}</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
						</div>
				</div>
		</div>
</div>
{{ end }}

{{ define "monitor-events-table" }}
<style>
		.tag {
				background: #F8F6E3;
				color: black;
		}
		.tag:hover {
				cursor: pointer;
		}
</style>
{{ if .HasNextPage }}
<tbody class="table-tbody" hx-get="/api/monitor/{{.MonitorID}}/table/events?page={{.NextPage}}" hx-trigger="revealed" hx-swap="afterend">
		{{ range .Activity }}
		{{ if eq .Source "event" }}
		<tr>
				<td class="d-flex justify-content-between align-items-center">
						<div>
								<span class="tag" style="background: black;color: white;">
										Event
								</span>
								{{ if eq .FromStatus "up" }}
								<span class="badge bg-green text-green-fg tag-status badge-empty">
								</span>
								up
								{{ else if eq .FromStatus "grace_period" }}
								<span class="badge bg-orange text-orange-fg tag-status badge-empty">
								</span>
								grace period
								{{ else }}
								<span class="badge bg-red text-red-fg tag-status badge-empty">
								</span>
								down
								{{ end }}
								to
								{{ if eq .ToStatus "up" }}
								<span class="badge bg-green text-green-fg tag-status badge-empty">
								</span>
								up
								{{ else if eq .ToStatus "grace_period" }}
								<span class="badge bg-orange text-orange-fg tag-status badge-empty">
								</span>
								grace period
								{{ else }}
								<span class="badge bg-red text-red-fg tag-status badge-empty">
								</span>
								down
								{{ end }}
						</div>
						<div class=" d-block text-secondary text-truncate mt-n1">{{ createdAtDistanceWithAgo .CreatedAt }}</div>
				</td>
		</tr>
		{{ else }}
		<tr>
				<td class="d-flex justify-content-between align-items-center">
						<div>
								<span class="tag" data-bs-toggle="modal" data-bs-target="#simple-modal" id="ping-tag">
										{{ template "simple-modal" . }}
										Ping
										{{ if eq .Status 200 }}
										<span class="badge bg-green text-green-fg tag-status badge-empty"></span>
										{{ .Status }} OK
										{{ else }}
										<span class="badge bg-red text-red-fg tag-status badge-empty"></span>
										{{ .Status }} NOTOK
										{{ end }}
								</span>
						</div>
						<div class="text-secondary text-end">{{ createdAtDistanceWithAgo .CreatedAt }}</div>
				</td>
		</tr>
		{{ end }}
		{{ end }}
</tbody>
{{ end }}
{{ end }}


{{ template "base" }}
<body>
		<div class="page-body">
				<div class="container-xl">
						<h1>Monitor Activity</h1>
						<div class="card">
								<div class="card-body">
										<div id="table-default" class="table-responsive">
												<table class="table">
														<tbody class="table-tbody" hx-get="/api/monitor/{{.MonitorID}}/table/events?page=1" hx-trigger="load" hx-swap="afterend">
																{{ template "monitor-events" . }}
														</tbody>
												</table>
										</div>
								</div>
						</div>
				</div>
		</div>
</body>
