{{ block "monitor-list-block" . }}
<tr>
		<td>
				<a href="/monitor/{{ .Monitor.ID }}">{{ .Monitor.Name }}</a>
		</td>
		<td>{{ .Monitor.Status }}</td>
		<td>{{ .Monitor.LastPing.Value}}</td>
</tr>
{{ end }}

{{ block "monitors-list-block" . }}
<tr>
		<td>
				{{ if eq .Status "up" }}
				<span class="badge bg-green ms-auto"></span>
				{{ else if eq .Status "grace_period" }}
				<span class="badge bg-yellow ms-auto"></span>
				{{ else }}
				<span class="badge bg-red ms-auto"></span>
				{{ end }}
				<a href="/monitor/{{.ProjectID}}/{{.ID}}">{{ .Name }}</a>
		</td>
		<td>{{ .Status }}</td>

		<td>{{ .PingUrl }}</td>
		{{ if .LastPing.Value }}
				<td>{{ createdAtDistanceWithAgo .LastPing.Value }}</td>
				
		{{ else }}
				<td>No pings yet</td>
		{{ end }}
</tr>
{{ end }}
