{{ block "no-projects" . }}
<div class="page-body">
		<div class="container-xl d-flex flex-column justify-content-center">
				<div class="empty">
						<div class="empty-img"><img src="/static/img/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
						</div>
						<p class="empty-title">No projects found</p>
						<div class="empty-action">
								<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-report"> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
										Create project
								</a>
						</div>
				</div>
		</div>
</div>
{{ end }}
